[submodule "rln"]
	path = rln
	url = https://github.com/42Bastian/rln.git
[submodule "rmac"]
	path = rmac
	url = https://github.com/mwenge/rmac.git
[submodule "spin2cpp"]
	path = spin2cpp
	url = https://github.com/totalspectrum/spin2cpp
